{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-break" style="font-size: 1.2em; font-weight: bold;">{{note.heading}}</h1>

    </div>

    <p class="text-break">{{ note.content }}</p>
    <p>Создано: {{ note.created_at }}</p>
    <p>Обновлено: {{ note.updated_at }}</p>
    <a href="/blog/update/{{ note.id }}/" class="btn btn-secondary">Редактировать</a>
    <a href="/blog/delete/{{note.id}}/" class="btn btn-danger">Удалить</a>
    <a href="/blog/" class="btn btn-primary">Вернуться к списку</a>
</div>

{% endblock %}