# Создайте файл .env из копии этого файла и замените значения переменных реальными данными


SECRET_KEY="секретный_ключ"
DEBUG=режим_отладки
DATABASE_USER="имя_пользователя"
DATABASE_PASSWORD="ваш_пароль"