# Создайте файл .env из копии этого файла и замените значения переменных реальными данными


SECRET_KEY="секретный_ключ"
DEBUG=режим_отладки
DATABASE_USER="имя_пользователя"
DATABASE_PASSWORD="ваш_пароль"
EMAIL_HOST_PASSWORD = 'ваш_пароль_приложения_для_яндекс_почты'
EMAIL_HOST_USER = 'ваш_адрес_электронной_почты'

