{% extends 'base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавление продукта</h1>
</div>


<div class="row text-start">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="lead my-0 font-weight-normal text-center">Хотите добавить свой продукт? Сделайте это!</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                    {% if form.price.errors %}
                    <div class="error">{{ form.price.errors }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}